.about {
	padding: 10px;
	height: calc(80vh - 90px);
	margin-top: 40px;
	overflow-x: hidden;
	overflow: scroll;
	overflow-x: hidden;
	@media screen and (min-width: 1280px) {
		padding-left: 100px;
	}
	&::-webkit-scrollbar {
		width: 34px;
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: rgb(191, 191, 191);
		border: 13px solid white;
	}
	> li:not(:last-child) {
		display: block;
		margin-bottom: 80px;
	}
	> li:nth-child(2) {
		margin-bottom: 40px;
	}
	.skill {
		display: block;
		li {
			display: inline-block;
			width: 30px;
			margin-right: 25px;
			button {
				width: calc(122px / 2);
				height: calc(116px / 2);
			}
		}
	}
	.profile {
		& > * {
			display: block;
		}
		p {
			font-size: 16px;
		}
		div {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			> span,
			> a {
				display: block;
				text-align: left;
				color: inherit;
				padding-left: 25px;
				margin: 20px 15px 0px 0px;
				background: url('../assets/images/persion_icon.png') left center
					no-repeat;
			}
			a {
				& + a {
					padding-left: 20px;
					background: url('../assets/images/phone_icon.png') left center
						no-repeat;
				}
			}
			.homepage {
				display: block;
				background: url('../assets/images/link_icon.png') left center no-repeat;
			}
			.mail {
				background: url('../assets/images/mail_icon.png') 0px 7px no-repeat;
				text-decoration: none;
			}
		}
	}
}
.history {
	li {
		margin-bottom: 15px;
		h4 {
			color: #000000;
			font-size: 18px;
		}
		em {
			font-size: 16px;
			font-style: normal;
		}
		p {
			margin-top: 7px;
		}
	}
}
