.section {
    position: absolute;
    z-index: 10;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close {
    position: absolute;
    z-index: 10;
    top: -10px;
    right: 0px;
    width: 20px;
    height: 20px;
}