@keyframes cardup {
    0% {
        transform: translate(-50%, -50%) scale(0.95) rotate(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
}
.section {
    position: absolute;
    z-index: 10;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: cardup 0.05s 0s ease-in-out forwards;
    color: #7a7a7a;
    @media screen and (min-width: 1280px){
        left: 55%;
    }
    > .icon {
        width: 200px;
        height: 200px;

    }
    h2 {
        position: absolute;
        top: 0px;
        width: 1px;
        overflow: hidden;
        padding: 0px;
        text-indent: 2px;
    };
    > div {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        box-sizing: border-box;
        &:not(.img){
            @media screen and (min-width: 1280px){
                width: 90%;
            }
        }
    }
    > .img {
        display: none;
        box-sizing: border-box;
        @media screen and (min-width: 1280px){
            position: relative;
            display: inline-block;
            width: 10%;
            height: 100%;
            vertical-align: middle;
        }
        img {
            position: absolute;
            left: 30%;
            top: 45%;
            transform: translate(-50%, -50%) scale(0.7);
        }
    }
    h3 {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 20px;
        color: #000000;
    }
}
.close {
    position: absolute;
    z-index: 10;
    top: -55px;
    right: 0px;
    width: 50px;
    height: 40px;
    background: transparent;
    border: 0px;
    transform: rotate(45deg);
    transition: transform 1s 0s;
    &::after,
    &::before {
        position: absolute;
        top: 0px;
        left: calc(50% - 1px);
        display: block;
        width: 2px;
        height: 40px;
        content: " ";
        background: #505050;
    }
    &:before {
        transform: rotate(90deg);
    }
    &:hover {
        transform: rotate(0deg);
    }
}
