html,
* {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans KR', 'Archivo Black', sans-serif;
	box-sizing: border-box;
}
li {
	list-style: none;
}
h1 {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
}
