@mixin logobutton($icon) {
    > .img {
        > .before, .after {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-size: 100%;
            backface-visibility: hidden;
        }
        .before {
            background: url($icon);
            transform: rotateY(180deg); /* 뒷면은 180도 회전시켜서 뒤로 보이게 설정 */
        }
        .after {
            background: url($icon);
        }
        transform-style: preserve-3d;
        perspective: 1000px; /* 3D 효과의 깊이 설정 */
        transform: rotateY(0deg); /* 초기 상태는 앞면 */
        transition: transform 1s .3s; /* 회전 애니메이션 */
        &:hover {
            transform: rotateY(180deg); /* 뒷면으로 회전 */
        }
    }
}
.button {
    position: relative;
    display: block;
    background: transparent;
    border: 0px;
    width: 122px;
    height: 116px;
    &:hover {
        cursor: pointer;
    }
    > .text {
        position: absolute;
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
        opacity: 0;
    }
    > .img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.DOT1,
.DOT2 {
    background: url('../assets/images/dot.png');
    width: 22px !important;
    height: 22px !important;
}
.STAR {
    background: url('../assets/images/star.png');
    width: calc(67px / 2) !important;
    height: calc(67px / 2) !important;
    @media screen and (min-width: 640px) {
        width: calc(67px / 1) !important;
        height: calc(67px / 1) !important;
    }
    &:hover {
        transform: rotate(360deg);
        transition: transform 1s;
    }
}
.ABOUT {
    @include logobutton('../assets/images/profile_icon.png');
}
.REACT {
    @include logobutton('../assets/images/react_icon.png');
}
.JS {
    @include logobutton('../assets/images/js_icon.png');
}
.VUE {
    @include logobutton('../assets/images/vue_icon.png');
}
.ROLLUP {
    @include logobutton('../assets/images/rollup_icon.png');
}
.LIT {
    @include logobutton('../assets/images/lit_icon.png');
}
.SASS {
    @include logobutton('../assets/images/sass_icon.png');
}
.ELECTRON {
    @include logobutton('../assets/images/electorn_icon.png');
}
.SVELTE {
    @include logobutton('../assets/images/svelte_icon.png');
}
