@mixin scrollbar() {
	overflow: auto;
	overflow-x: hidden;
	touch-action: none;
	overscroll-behavior: none;
	&::-webkit-scrollbar {
		width: 34px;
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: rgb(191, 191, 191);
		border: 13px solid white;
	}
}
.project {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: safe center;
	margin-left: 30px;
	width: calc(100% - 55px);
	height: calc(80vh - 115px);
	margin-top: 40px;
	touch-action: none;
	overscroll-behavior: none;
	user-select: none;
	overflow-x: hidden;
	@media screen and (min-width: 1280px) {
		margin-left: 100px;
		width: calc(100% - 140px);
	}
	> li {
		display: block;
		width: 100%;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		padding-right: 20px;
		margin-right: 2px;
		&:last-child {
			padding-right: 0px;
			margin-right: 0px;
		}
	}
	div {
		max-height: calc(80vh - 200px);
		@include scrollbar();
	}
}
.skills {
	margin-top: 40px;
	li {
		display: inline-block;
		button {
			width: 50px !important;
			height: 48px !important;
		}
	}
}
.title {
	display: block;
	margin-bottom: 0px !important;
}
.explain {
	display: block;
}
.date {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	vertical-align: middle;
	& + a {
		display: block;
		margin-bottom: 20px;
		margin-left: 0px;
		padding-left: 20px;
		background: url('../assets/images/link_icon.png') left center no-repeat;
		background-size: 15px;
		color: #7a7a7a;
		font-size: 14px;
	}
}
.account {
	display: block;
	background: url('../assets/images/gear_icon.png') 0px 3px no-repeat;
	padding-left: 30px;
}
.indicator {
	position: absolute;
	left: 0px;
	bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: safe center;
	width: 100%;
	li {
		min-width: 30px;
		height: 20px;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 10px;
		button {
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: #7a7a7a;
			border: 1px solid white;
			&:hover {
				cursor: pointer;
			}
		}
		[aria-selected='true'] {
			width: 20px;
			background: rgb(121, 135, 244);
		}
	}
}
.detail {
	display: block;
	margin-top: 20px;
	h4 {
		color: #000000;
		font-size: 18px;
		margin-bottom: 10px;
	}
}
