.project {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: safe center;
	margin-left: 30px;
	width: calc(100% - 55px);
	height: calc(80vh - 90px);
	margin-top: 40px;
	overflow: auto;
	overflow-x: hidden;
	touch-action: none;
	overscroll-behavior: none;
	@media screen and (min-width: 1280px) {
		margin-left: 100px;
		width: calc(100% - 140px);
	}
	&::-webkit-scrollbar {
		width: 34px;
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: rgb(191, 191, 191);
		border: 13px solid white;
	}
	> li {
		display: block;
		width: 100%;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		padding-right: 20px;
		pointer-events: none;
		user-select: none;
		&:last-child {
			padding-right: 0px;
		}
	}
	p {
		margin-bottom: 50px;
	}
	ul {
		margin-bottom: 15px;
		li {
			display: inline-block;
			button {
				width: 50px !important;
				height: 48px !important;
			}
		}
	}
}
.title {
	display: block;
}
.explain {
	display: block;
}
.date {
	display: block;
	background: url('../assets/images/calender_icon.png') 0px 3px no-repeat;
	padding-left: 30px;
}
.account {
	display: block;
	background: url('../assets/images/gear_icon.png') 0px 3px no-repeat;
	padding-left: 30px;
}
.indicator {
	position: absolute;
	left: 0px;
	bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: safe center;
	width: 100%;
	li {
		min-width: 30px;
		height: 20px;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 10px;
		button {
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: #7a7a7a;
			border: 1px solid white;
			&:hover {
				cursor: pointer;
			}
		}
		[aria-selected='true'] {
			width: 20px;
			background: rgb(121, 135, 244);
		}
	}
}
