name: Deploy to GitHub Pages
on:
  push:
    branches:
      - deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm run install
      
    - name: Run build
      run: npm run build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with: 
        personal_token: ${{ secrets.ACCESS_TOKEN }}
        publish_dir: ./build